NEXTAUTH_SECRET=
NEXTAUTH_URL=http://127.0.0.1:3000
NEXT_PUBLIC_BASE_URL=http://127.0.0.1:3000
NEXT_PUBLIC_API_ENDPOINT=http://127.0.0.1:3001
NEXT_PUBLIC_DEFAULT_RECIPE_YIELD=4
NEXT_PUBLIC_DEFAULT_RECIPE_YIELD_NAME=portioner
GOOGLE_CLIENT_ID=
GOOGLE_SECRET=
