:root {
  --extra-small: 448px;
  --small: 600px;
  --medium: 832px;
  --large: 1088px;
  --extra-large: 80rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  color: var(--mantine-color-gray-8);
  font-size: var(--mantine-font-size-sm);
  background-color: var(--mantine-color-white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0 0.5rem;
  padding: 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.75rem;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media only screen and (width <= 832px) {
  main {
    padding: 0;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select,
  textarea,
  input {
    font-size: 16px;
  }
}
