.header {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--mantine-color-gray-2);
  background-color: var(--mantine-color-white);
  width: 100%;
  height: 4rem;
}

.header-heading {
  margin: 0 0 0 1rem;
  font-size: 1.25rem;
  font-weight: 400;
  font-family: var(--font-lora);
}

.header-heading a {
  padding: 0.5rem;
}

.user {
  margin: 1rem;
}

.login-button {
  display: inline-block;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  text-decoration: none;
}

.search-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12rem;
}

@media only screen and (width <= 1088px) {
  .search-wrapper {
    height: 8rem;
  }
}

.search {
  display: flex;
  flex-flow: column-reverse;
  margin: 0 1rem;
  border: 1px solid var(--mantine-color-gray-2);
  border-radius: 2rem;
  box-shadow: var(--mantine-shadow-md);
  background-color: var(--mantine-color-white);
  width: 100%;
  max-width: 36rem;
}

.search-input {
  appearance: auto;
  outline: none;
  border: none;
  background: none;
  padding: 1rem;
  padding-left: 1.5rem;
  width: 100%;
  min-width: 2rem;
  height: 3.5rem;
  color: var(--mantine-color-black);
  font-size: 1rem;
}

.search-input-field {
  background-color: #f6f6f4;
}

.recipes {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 1.25rem 2rem;
  width: 100%;
  max-width: var(--extra-large);
  min-height: 24rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 1rem;
  column-gap: 1rem;
  align-items: flex-start;
  justify-content: space-evenly;
  animation-name: load;
  animation-duration: 1s;
}

@media only screen and (width <= 1088px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (width <= 832px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (width <= 600px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.hidden {
  display: none;
}

@media only screen and (width <= 832px) {
  .recipe-individual {
    margin: 0 auto;
  }
}

.recipe {
  display: flex;
  position: relative;
  flex-flow: column nowrap;
  justify-content: space-between;
  border-radius: var(--mantine-radius-sm);
  background-color: var(--mantine-color-white);
  padding: 0;
  height: 24rem;
  min-height: 12rem;
  transition: 'transform 150ms ease, box-shadow 150ms ease';
}

.recipe:hover {
  transform: scale(1.01);
  box-shadow: var(--mantine-shadow-md);
}

.image-container,
.no-image {
  position: relative;
  background-color: var(--mantine-color-orange-1);
  width: 100%;
  height: 100%;
  min-height: auto;
}

.image-container .image {
  position: absolute;
  inset: 0;
  border-radius: var(--mantine-radius-sm) var(--mantine-radius-sm) 0 0;
  width: 100%;
  height: 100%;
  color: transparent;
  object-fit: cover;
}

.recipe-title {
  display: flex;
  margin: 0;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 400;
}

.recipe-title a::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
}

.recipe-metadata {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.25rem;
  background-color: #f6f6f4;
  padding: 0.5rem 0;
  text-align: center;
  color: var(--mantine-color-gray-7);
  font-size: 0.75rem;
  font-weight: 600;
}

.clock {
  width: 1rem;
  height: 1rem;
  margin-right: 0.25rem;
  fill: var(--mantine-color-gray-7);
}

.recipe-actions {
  position: absolute;
  top: 0;
  left: 2rem;
}

@media only screen and (width <= 800px) {
  .recipe-actions {
    position: relative;
    grid-column: span 12;
    left: 0;
  }
}
